<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="host" value="0.0.0.0"/>
    <add key="port" value="7979"/>
    <add key="maxConnections" value="2000"/>
    <add key="bufferSize" value="30000"/>
    <add key="backlog" value="100"/>
    <add key="gameServerId" value="1"/>
    <add key="userDBConnection" value="Server=127.0.0.1;Database=User;User Id=server_user;Password=1q2w3e4r!;"/>
    <add key="accessTokenSecurityKey" value="TestProject"/>
  </appSettings>
</configuration>